
            .red {
                color:red  
            }
       
#box1 {
    background-color:yellow;
    height: 100px;
    width: 200px;
    border: 10px solid red;
    margin-left: 50px;
    padding-left: 50px;
    
    
}    

#box2 {
    background-color: aliceblue;
    height: 100px;
    width: 100px;
    margin-top: 45ps;
    
}